pandas>=0.24.1
koalas>=0.4.0
numpy>=1.14.2
scikit-learn>=0.20.3
PDPbox>=0.2.0
ipython>=6.4.0
scikit-optimize>=0.5.2
python-dateutil>=2.7.3
torch>=1.1.0
hiddenlayer>=0.2
graphviz>=0.10.1
skorch>=0.5.0
